{{set . "title" "About"}}
{{template "header.html" .}}
 
<div class="container-fluid text-center">    
  <div class="row content">

    <!-- sidenav -->
    {{template "sidebar.html" .}}
    
    <!-- bodycontent -->
    <div class="col-sm-10 text-left"> 
      <H1>About 'CLIENT APPLICATION'</h1>
      <hr>
      <p>This application <a target="_blank" href="https://murmuring-ravine-44482.herokuapp.com" >CLIENT APPLICATION</a> is a client for the two similar back-end servers  
      <UL TYPE="square">
	      <LI><a target="_blank" href="https://floating-ocean-11053.herokuapp.com/" >Go-kit API Server(developed using Go-Kit and MUX)</a></LI> 
	      <LI><a target="_blank" href="https://serene-waters-85209.herokuapp.com/" >Revel API Server(developed using REVEL Framework)</a></LI>
      </UL>
      <p>The user can switch to any of the back-end server through the drop down on left side bar.</p>
	      The application allows user to SignUp, SignIn, SignOut, Add New Book, Edit Book, View My Books, Publish/Unpublish Books and View Published Books. There is no direct database connection for this application, it relies on the backend server for all the data needs.</p>
      <p>The client server communication is secured with API Key and <a target="_blank" href="https://jwt.io/" >JWT</a> token. You can test REST Backend API server with any REST API client applications for example <a target="_blank" href="https://www.getpostman.com/" >Postman</a> or through <a target="_blank" href="{{url "Application.CurlTest"}}">Curl Test</a>, but you would need secure headers. In order to this, please click on <a target="_blank" href="https://murmuring-ravine-44482.herokuapp.com/about?helper=true" >'API Client Test Helper'</a> link and fill out the form to create secure headers for the API test. </p> 
      <p>The source code for the projects are available at Github</p>
      <p><a target="_blank" href="https://github.com/syedomair/gokit_interface" >https://github.com/syedomair/gokit_interface</a></p>
      <p><a target="_blank" href="https://github.com/syedomair/revel_api" >https://github.com/syedomair/revel_api</a></p>
      <p><a target="_blank" href="https://github.com/syedomair/revel_client" >https://github.com/syedomair/revel_client</a></p>

      <hr>
    </div>
  </div>
</div>

{{template "footer.html" .}}
