
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{.title}}</title>
  <meta charset="utf-8">
  <meta name="google-signin-client_id" content="268752540777-pe6pqdklprj3qbosb5qivjmfvut67m9r.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
Syed
</body>
</html>

