
    <div id="sidebar-wrapper" class="col-sm-2 ">
        <ul class="sidebar-nav" id="sidebar">     
          <li><a href="{{url "BookController.PublishedBooks"}}">Published Books<span class="glyphicon glyphicon-list-alt"></span></a></p>
          {{if .user_id }}
            <li><a href="{{url "BookController.MyBooks"}}">My Books<span class="glyphicon glyphicon-link"></span></a></li>
            <li><a href="{{url "BookController.AddBookForm"}}">Add New Book<span class="glyphicon glyphicon-pencil"></span></a></li>
          {{end}}
          <li><a href="{{url "BookController.PublishedBooksMicro"}}">MicroService API<span class="glyphicon glyphicon-list-alt"></span></a></p>
        </ul>
    </div>
