
    <div id="sidebar-wrapper" class="col-sm-2 ">
        <ul class="sidebar-nav" id="sidebar">     
	<li> 
           <select id="serverSelector" class="form-control" >
		  <option value="gokit" 
	                 {{if eq .server "gokit" }}
	                     selected
	                 {{ end }}
		      >Go-kit API Server</option>
		  <option value="revel"
	                 {{if eq .server "revel" }}
	                     selected
	                 {{ end }}
		      >Revel API Server</option>
	    </select>
	</li>
          <li><a href="{{url "BookController.PublishedBooks"}}">Published Books<span class="glyphicon glyphicon-list-alt"></span></a></p>
          {{if .user_id }}
            <li><a href="{{url "BookController.MyBooks"}}">My Books<span class="glyphicon glyphicon-link"></span></a></li>
            <li><a href="{{url "BookController.AddBookForm"}}">Add New Book<span class="glyphicon glyphicon-pencil"></span></a></li>
          {{end}}
        </ul>
    </div>
