{{set . "title" "Edit Book"}}
{{template "header.html" .}}
 
<div class="container-fluid text-center">    
  <div class="row content">

    <!-- sidenav -->
    {{template "sidebar.html" .}}
    
    <!-- bodycontent -->
    <div class="col-sm-10 text-left"> 
      <h1>Edit Book</h1>
      <hr>

        <form class="form-horizontal" action="{{url "BookController.EditBook"}}" method="POST">
          <div class="form-group">
            <label class="control-label col-sm-2" for="book_id">Book ID:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="temp_id"   value="{{.data.id}}" disabled >
              <input type="hidden" class="form-control" id="book_id" name="book.Id"  value="{{.data.id}}" >
              <input type="hidden" class="form-control" id="user_id" name="book.UserId"  value="{{.data.user_id}}" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Book Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="book.Name" placeholder="Enter Book Name" value="{{.data.book_name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="description">Book Description:</label>
            <div class="col-sm-10"> 
              <input type="text" class="form-control" id="description" name="book.Description" placeholder="Enter Book Description" value="{{.data.description}}">
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox" name="book.Publish" {{chk_checked .data.publish}} > Publish</label>
              </div>
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>

      <hr>
    </div>
  </div>
</div>

{{template "footer.html" .}}
